
﻿<div class="container mt-5">
    <h1 class="text-center display-2">Painel de Administrador</h1>
    <hr />
    <div class="row">
        <div class="col-6">

            <div class="list-group">
                <h2 class="">Configurações Gerais</h2>
                <a class="button-28" role="button" asp-controller="Accounts" asp-action="Index">Contas</a>

                <h2 class="">Gestão</h2>
                <a  class="button-28" role="button" asp-controller="Arbitros" asp-action="Index">Arbitros</a>
                <a class="button-28" role="button" asp-controller="Estadios" asp-action="Index">Estadios</a>
                <a class="button-28" role="button" asp-controller="Clubes" asp-action="Index">Clubes</a>
                <a class="button-28" role="button" asp-controller="Equipas" asp-action="Index">Equipas</a>
                <a class="button-28" role="button" asp-controller="Jogadores" asp-action="Index">Jogadores</a>
                <a class="button-28" role="button" asp-controller="Jogos" asp-action="Index">Jogos</a>

            </div>

        </div>
        <div class="col-5">
            <img src="/Assets/Imagens/configs.png" style="max-height:500px;" />
        </div>

    </div>
</div>