﻿﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@model GestaoCampeonatoFutebol.Models.UsersRolesViewModel

@{
    ViewData["Title"] = "Editar Conta";
}

<h1>Editar</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" disabled />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
    </div>
    <div class="mb-3">

        <button type="submit" class="botaoDanger nav-link">Guardar</button>
    </div>
</form>

<div class="mb-3">

    <a class="botao nav-link" asp-action="Index">Voltar a lista</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}