@model List<UsersRolesViewModel>
@{
    ViewData["Title"] = "Lista Utilizadores";
}

<h1>Lista de Utilizadores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Email
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    
                    <td>
                    <a asp-action="Editar" class="botao nav-link" asp-controller="Accounts" asp-route-id="@item.Id">Editar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>